* {
    background: rgb(2, 2, 50);
}
header{
    border-bottom: 1px solid white;
}
h1, h2, h3, h4, span, p{
    text-align: center;
    color: white;
    font-family: Poppins;
}
section{
    height: 500px;
    border: 1px rgb(225, 225, 163) solid;
}
h1{
    padding: 50px 0;
}